body, html {
    margin: 0;
    padding: 0;
  }

.mainContainer {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #f4f4f4;
transition: background-color 0.3s ease;
}
  
.mainContainer:hover {
background-color: #e9e9e9;
}
  
.routeContent {
padding: 2rem;
animation: fadeIn 1s ease;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .centerButton, .routeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Set minimum height */
    background-color: #495e57; /* Same as the reservation form */
  }
  
  .reserveButton {
    background-color: #F4CE14; /* Original color */
    color: black;
    padding: 20px 40px;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .reserveButton:hover {
    background-color: #F4A012; /* Original hover color */
    transform: scale(1.1);
  }

  .contentSection {
    padding: 2rem;
    padding-top: 8rem;
    background-color: #f4f4f4;
    text-align: center;
    animation: slideInFromLeft 1s ease;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Add display property */
    flex-direction: column; /* Add flex-direction property */
    justify-content: center; /* Add justify-content property */
    align-items: center; /* Add align-items property */
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.contentTitle {
font-size: 2.5rem; /* Increased font size */
color: #333;
margin-bottom: 1rem;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Text shadow */
animation: fadeInDown 1s ease; /* New animation */
}

@keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.contentText {
font-size: 1.2rem;
color: #666;
max-width: 800px;
margin: auto;
line-height: 1.5; /* Improved readability */
}

